*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: blueviolet;
    padding-top: 100px;
}

/* .item{
    border: 1px solid #000;
    border: radius 20px;
} */
.form{
    background-color: #fff;
    max-width:600px ;
    margin: 0px auto;
    width: 100%;
    padding: 30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}   
.input{
    background-color: transparent;
    border: none;
    outline: none;
    width: 300px;
    border-radius: 30px;
    padding: 10px;
}

.Title{
    margin-bottom: 10px;
}
.btn{
    width: 100px;
    padding: 10px;
    border-radius:30px;
    border: none;
    background-color: greenyellow;
    font-weight: 900;
}
.list{
    background-color: #fff;
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid transparent;
    border-bottom-left-radius: 30px;
    border: bottom right radius 30px;
}
.item{
    background-color: #fff;
    padding: 20px;
    border-bottom:transparent ;
    /* border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px; */
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.Delete{
    width: 100px;
    padding: 10px;
    border-radius: 30px;
    border: none;
    margin-right: 20px;
    background-color: red;
    color: white;
    font-weight: 900;
}
.Edit{
    width: 100px;
    padding: 10px;
    border-radius: 30px;
    border: none;
    margin-right: 20px;
    background-color: green;
    color: white;
    font-weight: 900;
}
.wrapper{
    background-color: bisque;
    border:1px solid transparent;
    border-radius: 30px;
    width: 406px;
}